.EntryTypeLabel {
  display: inline-block;
  padding: 0.3em 0.5em;
  margin-right: 0.5em;
  border-radius: 0.2em;
  font-weight: bold;
  font-size: 50%;
  text-transform: uppercase;
  background-color: #00d5ff;
  color: #000;
}
