.StageEntry {
  padding: 24px;
  height: 100%;
}

.stage h2 {
  font-size: 2rem;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
}

.stage h3 {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 4px;
}

.stage p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.StageEntry--buttons {
  margin-top: 12px;
  margin-bottom: 0;
}

.StageEntry-link {
  background-color: #0a310a;
}

.StageEntry-edit {
  background-color: #32380c;
}

.StageEntry-add-relationship {
  background-color: #0e2e39;
}

.StageEntry-delete {
  background-color: #4f0000;
}

/* Character */
.stage .character {
  padding: 24px;
  height: 100%;
}

.stage .character small {
  font-size: 0.7rem;
  display: inline-block;
}

.add-relationship-form {
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  width: 50%;
}

.add-relationship-form h3 {
  margin-top: 0;
}

.add-relationship-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.add-relationship-form input,
.add-relationship-form select {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
  width: 100%;
  margin-bottom: 10px;
}
