.Button {
  background-color: #3a3a3a;
  color: #fff;
  font-size: 0.9rem;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 10px;
}

.Button a {
  all: unset;
}

.Button:hover {
  background-color: #505050;
}

.Button:active {
  background-color: #dbdbdb;
  color: #000;
}
